In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/art_data_loaded.csv')

In [3]:
df.head()

,index,author,title,date,url,type,style,school
0,0,"AAGAARD, Carl Frederik",Deer beside a Lake,1888.0,https://www.wga.hu/art/a/aagaard/deerlake.jpg,landscape,Realism,Danish
1,1,"AAGAARD, Carl Frederik",The Rose Garden,1877.0,https://www.wga.hu/art/a/aagaard/rosegard.jpg,landscape,Realism,Danish
2,2,"ABADIA, Juan de la",The Archangel Michael,1490.0,https://www.wga.hu/art/a/abadia/michael.jpg,religious,Early Renaissance,Spanish
3,3,"ABBATE, Niccolo dell'",Chimney breast,1552.0,https://www.wga.hu/art/a/abbate/chimney1.jpg,other,Mannerism,Italian
4,4,"ABBATE, Niccolo dell'",Stag Hunt,1550.0,https://www.wga.hu/art/a/abbate/deerhunt.jpg,landscape,Mannerism,Italian

In [4]:
df.groupby(['type','style']).count()['index'].to_csv("temp.csv")

In [5]:
df.groupby('style').count()

                      index  author  title   date    url   type  school
style
Art Nouveau             193     193    193    193    193    193     193
Baroque               10697   10697  10697  10694  10697  10697   10697
Early Renaissance      3923    3923   3923   3922   3923   3923    3923
High Renaissance       2194    2194   2194   2194   2194   2194    2194
Impressionism          2121    2121   2121   2121   2121   2121    2121
Mannerism              2633    2633   2633   2632   2633   2633    2633
Medieval               2237    2237   2237   2237   2237   2237    2237
Neoclassicism           566     566    566    566    566    566     566
Northern Renaissance   3021    3021   3021   3021   3021   3021    3021
Realism                 925     925    925    925    925    925     925
Rococo                 1946    1946   1946   1946   1946   1946    1946
Romanticism            1499    1499   1499   1499   1499   1499    1499

In [7]:
df = df.groupby('style').sample(100,random_state=1)

In [8]:
fine_grade_groups = dict()

indexes_to_groups = dict()


for x,y in enumerate(df.groupby('style')):
    fine_grade_groups[x] = [[],[]]
    

for group_ind,(name,group) in enumerate(df.groupby(['style'])):

    for ind,row in group.iterrows():
        indexes_to_groups[row['index']] = group_ind

    pairs = group['index'].to_list()

    cstyle = group.iloc[0]['style']

    neg_paris = df.loc[ (df['style'] !=cstyle) ]['index'].to_list()

    fine_grade_groups[group_ind][0].extend(pairs)
    fine_grade_groups[group_ind][1].extend(neg_paris)

In [12]:
import json

In [13]:
with open("style_sample_indexes_to_groups.json",'w')as f:
    f.write(json.dumps(indexes_to_groups))

with open("style_sample_pairs_groups.json",'w')as f:
    f.write(json.dumps(fine_grade_groups))